@import '../../styles/constants';
.default {
color: #fff;
background: $secondary-orange;
font-size: 18px;
border: 1px solid rgb(255,120,0);
border-radius: 3em;
min-width: 64px;
padding: 3px;
text-align: center;
}

.default:hover {
border-color: #54536f;
color: initial;
}

.default:focus {
outline: none;
}

.default:disabled {
background: $overlay-pale;
border: none;
color: #e3d6d9;
}

.secondary {
background: $primary-blue;  
}

.submit- {
background: $primary-red;
height: 42px;
border-radius: 13px;
padding: 8px;
}
