.cross {
height: 2em;
width: 2em;
border: 2px solid #e8702a;
border-style: inset;
border-radius: 50%;
}

.close-button {
width: 36px;
height: 36px;
border-radius: 50%;
background: black;
position: absolute;
right: 10px;
top: 10px;
 }

