{
  "presets": [
    "react",
    "es2015",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "debug": true,
        "modules": false
      }
    ]
  ],
  "plugins": ["css-modules-transform"]
}
