<!doctype html> <html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	
</head>
<body>
<h2> HOME</h2>
<h3> SIGNUP FORM</h3>
<form action="/signup" method="post">
 <input type="text" name="username"> <br>
    <input type="text" name="pswd"> <br>
    
    <input type="submit">
  </form>

<h3> login FORM</h3>
<form action="/login" method="post">
 <input type="text" name="username"> <br>
    <input type="text" name="pswd"> <br>
    
    <input type="submit">
  </form>
 
<h3> Event FORM</h3>
<form action="/event" method="post">
 <input type="text" name="name"> <br>
    <input type="text" name="place"> <br>
    
    <input type="submit">
  </form>
 
  
<script>

let tag = undefined;
(async () => {
	let response;
	for(;;) {	
		try {
		response = await fetch("/poll",{headers: tag && {"if-none-match": tag,"prefer": "wait=90"}});		
		}
		catch(e) {
    console.log(e);
			console.log(response.status,"fetch request failed");
			await new Promise(resolve => setTimeout(resolve,10000));
			continue;	
		}
		
		if(response.status == 304) continue;
		// document.body.innerHTML = "";
		// let list = await response.json().then();
		// for (elm of list) {
		// 	let x = document.createElement("p");
		// 	let y = document.createTextNode(elm.note);
		// 	x.appendChild(y);
		// 	document.body.appendChild(x);

		// }
		tag = response.headers.get("etag"); 

}
})();

</script>	
</body>
</html>
