
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	
</head>
<body>
<h2> HOME</h2>

<form action="/add" method="post"><input type="text" name="note"><input type="submit"></form>
  
<script>

let tag = undefined;
(async () => {
	
	for(;;) {	
		let response;
		response = await fetch("/poll", {headers: {"If-None-Match": tag}});
  		tag = response.headers.get('Etag');
  		console.log(tag,"tag");
  		console.log(response.headers.get('Etag'),"Etag");
  		response.text().then(e => console.log(e));

	}
})();

</script>	
</body>
</html>