#test  { 
background: red;
padding: 62px;

}

h3 {
background: pink; 
}


.nav-bar {
background: linear-gradient(to right,#abcdef,#face00);
padding: 10px;
min-height: 40px;  
}

.user-status-bar {
float: right;
}

.nav-icon {
display: inline-block;    
vertical-align: middle;
margin: 8px;
}

.message-icon {
width: 36px;
height: 36px;
background: url("components/images/blue.png") no-repeat;
background-size: contain;
}


.overlay {
display: flex;
justify-content: center;
background: #3b5c78;
opacity: 0.9;
position: absolute;
width: 100%;
height: 100%;
}

label {
display: block;    
}

.close-button {
width: 36px;
height: 36px;
border-radius: 50%;
background: black;
position: absolute;
right: 10px;
top: 10px;
 }

.login-form {
align-self: center;
width: 250px;
background: #325b84;
}

.form-input {
margin: 25px;

}

label {
color: #fff;  
font-weight: bold;
letter-spacing: 0.05em;
}

input {
background: #effbfb;
display: inline-block;
margin: 12px;
height: 24px;
border-radius: 12px;  
border: none;
}

input:focus {
outline: none;
background:#fffcdd; 

}
.form-submit {
display: flex;
justify-content: center;

}

.form-submit input {
background: #fff68f;
padding: 5px;

}

.form-submit input:focus {
  background: red;
}

@keyframes fadein {
  to { 
     background: #ffee88; }
}

.form-error {
padding: 2px;
animation: fadein 0.3s ease-in-out  1 running forwards;
}

.warn-exc {
color: red;
font-size: 1.5em;
}


.signup-confirmation {
background: #ffee88;
padding: 8px;
border-radius: 0.5em;
align-self: center;
    
}
