// Colors
$primary-rose: #d72638;
$primary-blue: #3f88c5;
$primary-yellow: #f49d37;
$primary-purple: #140f2D;
$primary-red: #f22b29;

$overlay-navy: #3d518c;
$overlay-pale: #abd2fa;

$secondary-orange: #ff9770;
$secondary-yellow: #ffd670;
$secondary-pink: #ff70a6;
$secondary-blue: #70d6ff;
$secondary-green: #e9ff70;

















