
.overlay {
display: flex;
justify-content: center;
background: #3b5c78;
opacity: 0.95;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 110vh;
}

label {
display: block;    
}

.close-button {
width: 36px;
height: 36px;
border-radius: 50%;
background: black;
position: absolute;
right: 10px;
top: 10px;
 }

.login-form, .event-form {
padding: 6px;
align-self: center;
width: 250px;
background: #FF8D00;
}

.form-stage > .next-button {
float: right;
}

.form-stage > .back-button {
float: left;
}

.form-input {
margin: 15px 5px;

}

label {
color: #fff;  
font-weight: bold;
letter-spacing: 0.05em;
}

input, textarea {
background: #effbfb;
display: inline-block;
margin: 6px;
height: 24px;
border-radius: 12px;  
border: none;
font-size: 18px;
}

textarea {
height: initial;  
}

input:focus {
outline: none;
background:#fffcdd; 

}
.form-submit {
display: flex;
justify-content: center;

}

.form-submit input {
background: #fff68f;
padding: 5px;

}

.form-submit input:focus {
  background: red;
}

@keyframes fadein {
  to { 
     background: #ffee88; }
}

.form-error {
padding: 2px;
animation: fadein 0.3s ease-in-out  1 running forwards;
}

.warn-exc {
color: red;
font-size: 1.5em;
}


.confirmation {
background: #ffee88;
padding: 8px;
border-radius: 0.5em;
align-self: center;
    
}

.cross {
height: 2em;
width: 2em;
border: 2px solid #e8702a;
border-style: inset;
border-radius: 50%;
}

