.nav-bar {
background: linear-gradient(to right,#abcdef,#face00);
padding: 10px;
min-height: 40px;  
display: flex;
justify-content: space-between;
}

.logo {
padding: 8px;
font-size: 20px;
display: flex;
align-items: center;
}
.user-status-bar {
display: flex;
align-items: center;
}

.nav-icon {
display: inline-block;    
vertical-align: middle;
margin: 8px;
}

.message-icon {
width: 30px;
height: 30px;
background: url("/components/images/blue.png") no-repeat;
background-size: contain;
display: flex;
flex-direction: row-reverse;
}

.message-icon > .red-dot {
background: red;
width: 10px;
height: 10px;
border-radius: 5px;

}

.user-icon {
width: 32px;
height: 32px;
border-radius: 15px;
background: #fff url("/components/images/user.png") no-repeat;
padding: 4px;
background-size: contain;
}

