@import '../../styles/constants';

label {
display: block;    
}

.user-form {
}


.login-form, .event-form {
padding: 6px;
align-self: flex-start;
width: 250px;
background: $secondary-orange;
border-radius: 6px;
}

.form-stage {
  .next-button {
    float: right;
  }

 .back-button {
    float: left;
  }
}

.form-input {
margin: 15px 0;

}

label {
color: #fff;  
font-weight: bold;
letter-spacing: 0.05em;
}

input, textarea {
background: #effbfb;
display: inline-block;
margin: 6px 4px;
height: 24px;
border-radius: 12px;  
border: none;
font-size: 18px;
}

textarea {
height: initial;  
}

input:focus {
outline: none;
background:#fffcdd; 

}
.form-submit {
display: flex;
justify-content: center;

}

.form-submit input {
background: #fff68f;
padding: 5px;

}

.form-submit input:focus {
  background: red;
}

@keyframes fadein {
  to { 
     background: #ffee88; }
}

.form-error {
padding: 2px;
animation: fadein 0.3s ease-in-out  1 running forwards;
}

.warn-exc {
color: red;
font-size: 1.5em;
}


.confirmation {
background: #ffee88;
padding: 8px;
border-radius: 0.5em;
align-self: center;
}

@media screen and (max-height: 350px) {
  .form-input, input,text-area {
    margin: 5px 0;
  }
    input {
    height: 18px;
    
    }
}
